        <header>
      <div class="brand">
        <img
          class="logo"
          src="/public/img/products_icon_128x128.png"
          alt="Logotipo de productos"
        />
        <h1 class="main-title">{{title}}</h1>
      </div>

      <nav id="nav">
        <ul class="main-menu">
          <li class="main-menu-item">
            <a href="/" class="link">Inicio</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Acceso con GitHub</h2>

      <a href="http://localhost:8080/api/github/login">Login</a>
    </main>

    <footer>
      <div class="author">
        <p>Autor:
          <a class="email-link" href="mailto:sergio.terroso@gmail.com">Sergio
            Terroso</a></p>
      </div>
    </footer>
