    <header>
      <div class="brand">
        <img
          class="logo"
          src="/public/img/products_icon_128x128.png"
          alt="Logotipo de productos"
        />
        <h1 class="main-title">Inicio</h1>
      </div>

      <nav id="nav">
        <ul class="main-menu">
          <li class="main-menu-item">
            <a href="/products/?limit=5" class="link">Explorador de Productos</a>
            <a href="/signup" class="link">Registro</a>
            <a href="/login" class="link">Acceso</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>E-commerce</h2>
      <ul>
        <li><a href="/products/?limit=5" class="link">Explorador de Productos</a></li>
        <li><a href="/signup" class="link">Registro</a></li>
        <li><a href="/login" class="link">Acceso</a></li>
      </ul>
    </main>

    <footer>
      <div class="author">
        <p>Autor:
          <a class="email-link" href="mailto:sergio.terroso@gmail.com">Sergio
            Terroso</a></p>
      </div>
    </footer>