    <main>
      <h2>Error Interno del Servidor</h2>

      <p>¡Lo siento! Hemos tenido un error con el servidor. Estamos trabajando para repararlo</p>

      {{#if error}}
      <p class="error">Error: {{error}}</p>
      {{/if}}
    </main>