    <main>
      <h2>¡No encontrado!</h2>
      <p>Lo siento, el recurso solicitado no fue encontrado.</p>
      {{#if error}}
      {{/if}}

      <p>Haz click <a href="/" class="link">aquí</a> para volver al Inicio.</p>
    </main>