    <header>
      <div class="brand">
        <img
          class="logo"
          src="/public/img/products_icon_128x128.png"
          alt="Logotipo de productos"
        />
        <h1 class="main-title">Explorador de Productos</h1>
      </div>

      <nav id="nav">
        <ul class="main-menu">
          <li class="main-menu-item">
            <a href="/" class="link">Inicio</a>
            <a href="/carts/63cc90aa3eac6a538b1aed32" class="link">Carrito</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Lista de Productos</h2>

      {{#if products.payload}}
      {{#each products.payload}}
      <div class="productItem">{{this}}</li>
      {{/each}}
      {{/if}}

      {{#if products.hasPrevPage}}
      <a href="{{products.prevLink}}">Anterior</a>
      {{/if}}

      {{#if products.hasNextPage}}
      <a href="{{products.nextLink}}">Siguiente</a>
      {{/if}}
    </main>

    <footer>
      <div class="author">
        <p>Autor:
          <a class="email-link" href="mailto:sergio.terroso@gmail.com">Sergio
            Terroso</a></p>
      </div>
    </footer>

    <script src="/public/js/ProductsViewer.js"></script>