    <header>
      <div class="brand">
        <img
          class="logo"
          src="/public/img/products_icon_128x128.png"
          alt="Logotipo de productos"
        />
        <h1 class="main-title">Detalle de Producto</h1>
      </div>

      <nav id="nav">
        <ul class="main-menu">
          <li class="main-menu-item">
            <a href="/" class="link">Inicio</a>
            <a href="/products/" class="link">Explorar Productos</a>
            <a href="/carts/" class="link">Carrito</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Detalle de Producto</h1>
    </main>

    <footer>
      <div class="author">
        <p>Autor:
          <a class="email-link" href="mailto:sergio.terroso@gmail.com">Sergio
            Terroso</a></p>
      </div>
    </footer>

    <script src="/public/js/ProductDetailViewer.js"></script>