    <header>
      <div class="brand">
        <img
          class="logo"
          src="/public/img/products_icon_128x128.png"
          alt="Logotipo de productos"
        />
        <h1 class="main-title">{{title}}</h1>
      </div>

      <nav id="nav">
        <ul class="main-menu">
          <li class="main-menu-item">
            <a href="/" class="link">Inicio</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Registro de Nuevo Usuario</h2>
      <form id="userSignup">
        <div>
          <label for="userEmail">E-mail:</label>
          <input
            type="email"
            id="userEmail"
            name="userEmail"
            minLength="9"
            required
          />
        </div>

        <div>
          <label for="userPassword">Contraseña:</label>
          <input
            type="password"
            id="userPassword"
            name="userPassword"
            minLength="6"
            required
          />
        </div>

        <div>
          <label for="userFirstName">Nombre(s):</label>
          <input
            type="text"
            id="userFirstName"
            name="userFirstName"
            minLength="3"
            required
          />
        </div>

        <div>
          <label for="userLastName">Apellido(s):</label>
          <input
            type="text"
            id="userLastName"
            name="userLastName"
            minLength="3"
            required
          />
        </div>

        <div>
          <label for="userDateOfBirth">Fecha de Nacimiento:</label>
          <input type="date" id="userDateOfBirth" name="userDateOfBirth" required />
        </div>

        <div>
          <label for="userGender">Sexo:</label>
          <select id="userGender" name="userGender" required>
            <option value="femenino">Femenino</option>
            <option value="masculino">Masculino</option>
            <option value="otro">Otro</option>
            <option value="no especificado" selected>No especificado</option>
          </select>
        </div>

        <div>
          <input type="button" value="Registrarme" id="signupButton" />
        </div>
      </form>
    </main>

    <footer>
      <div class="author">
        <p>Autor:
          <a class="email-link" href="mailto:sergio.terroso@gmail.com">Sergio
            Terroso</a></p>
      </div>
    </footer>

    <script src="/public/js/UserSignup.js"></script>