    <header>
      <div class="brand">
        <img
          class="logo"
          src="/public/img/products_icon_128x128.png"
          alt="Logotipo de productos"
        />
        <h1 class="main-title">{{title}}</h1>
      </div>

      <nav id="nav">
        <ul class="main-menu">
          <li class="main-menu-item">
            <a href="/" class="link">Inicio</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Registro de Nuevo Usuario</h2>
      <form id="userSignupForm">
        <div>
          <label for="userEmailField">E-mail:</label>
          <input
            type="email"
            id="userEmailField"
            name="userEmailField"
            minLength="9"
            required
          />
        </div>

        <div>
          <label for="userPasswordField">Contraseña:</label>
          <input
            type="password"
            id="userPasswordField"
            name="userPasswordField"
            minLength="6"
            required
          />
        </div>

        <div>
          <label for="userFirstNameField">Nombre(s):</label>
          <input
            type="text"
            id="userFirstNameField"
            name="userFirstNameField"
            minLength="3"
            required
          />
        </div>

        <div>
          <label for="userLastNameField">Apellido(s):</label>
          <input
            type="text"
            id="userLastNameField"
            name="userLastNameField"
            minLength="3"
            required
          />
        </div>

        <div>
          <label for="userDateOfBirthField">Fecha de Nacimiento:</label>
          <input type="date" id="userDateOfBirthField" name="userDateOfBirthField" required />
        </div>

        <div>
          <label for="userGenderSelector">Sexo:</label>
          <select id="userGenderSelector" name="userGenderSelector" required>
            <option value="femenino">Femenino</option>
            <option value="masculino">Masculino</option>
            <option value="otro">Otro</option>
            <option value="no especificado" selected>No especificado</option>
          </select>
        </div>

        <div>
          <input type="submit" value="Registrarme" id="signupButton" />
        </div>
      </form>
    </main>

    <footer>
      <div class="author">
        <p>Autor:
          <a class="email-link" href="mailto:sergio.terroso@gmail.com">Sergio
            Terroso</a></p>
      </div>
    </footer>

    <script src="/public/js/UserSignup.js"></script>